<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingsTypespatial</key>
	<dict>
		<key>pollInterval</key>
		<string>60</string>
	</dict>
	<key>general</key>
	<dict>
		<key>username</key>
		<string></string>
		<key>password</key>
		<string></string>
		<key>senseEnabled</key>
		<true/>
	</dict>
	<key>SettingsTypegeneral</key>
	<dict>
		<key>synchronisationRate</key>
		<string>300</string>
	</dict>
	<key>SettingsTypeposition</key>
	<dict>
		<key>accuracy</key>
		<string>100</string>
	</dict>
</dict>
</plist>
